<footer class="footer">

    <div class="info">
      <ul class="info_list">
        <li class="info_list-item item1">
          <a href="" target="_blank" class="link-item">articles</a>
        </li>
        <li class="info_list-item item2">
          <a href="" target="_blank" class="link-item">books</a>
        </li>
        <li class="info_list-item item3">
          <a href="" target="_blank" class="link-item">events</a>
        </li>
        <li class="info_list-item item4">
          <a href="" target="_blank" class="link-item">reasons</a>
        </li>
        <li class="info_list-item item5">
          <a href="" target="_blank" class="link-item">tips</a>
        </li>
      </ul>
    </div>

    <div class="sm">
      <ul class="sm_list">
        <li class="sm_list-item sm1">
          <a href="" target="_blank" class="link-sm">twitter</a>
        </li>
        <li class="sm_list-item sm2">
          <a href="" target="_blank" class="link-sm">instagram</a>
        </li>
        <li class="sm_list-item sm3"><a href="" target="_blank" class="link-sm">mastodon.social</a>
        </li>
      </ul>
    </div>
    <span class="copy">&copy;2017</span>
    <span class="love">we <span class="icon">❤︎</span> components</span>
  </footer>