<section class="hero">
    <div class="hero-imagen">
        <!-- <img src="../assets/images/cover.jpg" alt="skyscrapers" class="hero-picture"> -->
    </div>
    <div class="lema">
        <h1 class="title1">Anonymous Proxy</h1>
        <span class="text-sec">In hac habitasse platea dictumst.</span>
    </div>
    <div class="circle">
        <a href="#section2" class="hut">
            <img src="../../assets/images/ico-scroll-down.svg" alt="Icono scroll down" class="imagen-hut">
        </a>
    </div>
    
</section>