<section class="section3">
    <h2 class="title2 title2-section3">3 Reasons To Purchase</h2>
    <div class="reasons">
        <div class="reason reason1">
            <h3 class="title3">Ut sed metus</h3>
            <p class="text section3-text">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="reason reason2">
            <h3 class="title3">Curabitur ac erat</h3>
            <p class="text section3-text">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="reason reason3">
            <h3 class="title3">Morbi dictum</h3>
            <p class="text section3-text">Aliquam in dolor et dolor tincidunt.</p>
        </div>
    </div>
    <div class="more">
        <a href="" class="more-reasons">More reasons</a>
    </div>
    <div class="arrow">
        <a href="." class="a-arrow">
            <img src="./../assets/images/ico-arrow.svg" alt="Arrow" class="imagen-arrow">
        </a>
    </div>
</section>