<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Ejercicio de evaluación final-Patri</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <partial src="_header.html"></partial>
  <!-- <header class="header">
    <nav class="nav">
      <ul class="menu">
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </nav>
  </header> -->

  <main class="main">
    <partial src="_hero.html"></partial>
    
    <section class="section2">
      <span class="tips">Insomnia Tips</span>
      <h3 class="title3">Looking Through A Wi</h3>
      <p class="text section2-text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <a href="" class="go">Go</a>
    </section>

    <section class="section3">
      <h3 class="title3">3 Reasons To Purchase</h3>
      <div class="reasons">
        <div class="reason1">
          <h4 class="title4">Ut sed metus</h4>
          <p class="text section3-text">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="reason2">
          <h4 class="title4">Curabitur ac erat</h4>
          <p class="text section3-text">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="reason3">
          <h4 class="title4">Morbi dictum</h4>
          <p class="text section3-text">Aliquam in dolor et dolor tincidunt.</p>
        </div>
      </div>
      <a href="" class="more">More reasons</a>
      <a href="" class="arrow">
        <img src="" alt="" class="imagen-arrow">
      </a>
    </section>

    <footer class="footer">

      <div class="info">
        <ul class="info_list">
          <li class="info_list-item item1">
            <a href="" target="_blank" class="link-item">articles</a>
          </li>
          <li class="info_list-item item2">
            <a href="" target="_blank" class="link-item">books</a>
          </li>
          <li class="info_list-item item3">
            <a href="" target="_blank" class="link-item">events</a>
          </li>
          <li class="info_list-item item4">
            <a href="" target="_blank" class="link-item">reasons</a>
          </li>
          <li class="info_list-item item5">
            <a href="" target="_blank" class="link-item">tips</a>
          </li>
        </ul>
      </div>

      <div class="sm">
        <ul class="sm_list">
          <li class="sm_list-item sm1">
            <a href="" target="_blank" class="link-sm">twitter</a>
          </li>
          <li class="sm_list-item sm2">
            <a href="" target="_blank" class="link-sm">instagram</a>
          </li>
          <li class="sm_list-item sm3"><a href="" target="_blank" class="link-sm">mastodon.social</a>
          </li>
        </ul>
      </div>
    </footer>

  </main>
</body>
</html>
