<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ejercicio de evaluación final-Patri</title>
  <link rel="icon" href="favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,500" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <partial src="_header.html"></partial>
  
  <main class="main">
    <partial src="_hero.html"></partial>
    <partial src="_section2.html"></partial>
    <partial src="_section3.html"></partial>
    <partial src="_footer.html"></partial>
  </main>
  
</body>
</html>
