.footer {
  background-color: $background-color-footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 45px;
  position: relative;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

.info {
  @media all and (min-width: 768px) {
    order: 1;
    padding: 0 30px;
  }
}

.info_list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media all and (min-width: 768px) {
    text-align: left;
    padding: 0;
  }

  @media all and (min-width: 1200px) {
    width: left;
    padding: 0;
  }
}

.info_list-item {
  text-align: center;

  @media all and (min-width: 768px) {
    text-align: left;
  }
}

.link-item {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-family-roboto;
  font-size: 16px;
  line-height: 30px;
}

.block {
  width: auto;

  @media all and (min-width: 768px) {
    width: 210px;
    height: 150px;
    text-align: left;
  }

  @media all and (min-width: 1200px) {
    width: 160px;
  }
}

.sm {
  @media all and (min-width768px) {
    order: 2;
  }
}

.sm_list {
  list-style: none;
  padding: 30px 0 0;
  margin: 0;
  text-align: center;

  @media all and (min-width: 768px) {
    text-align: left;
    vertical-align: text-top;
    padding: 0;
  }

  @media all and (min-width: 1200px) {
    text-align: left;
    vertical-align: text-top;
    padding: 0;
  }
}

.link-sm {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-family-roboto;
  font-size: 16px;
  line-height: 30px;
}

.end {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media all and (min-width: 768px) {
    align-items: flex-start;
    justify-content: flex-start;
  }

  @media all and (min-width: 1200px) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.copy {
  font-family: $font-family-roboto;
  font-size: 14px;
  line-height: 30px;
  padding-top: 30px;
  color: white;

  @media all and (min-width: 768px) {
    padding-top: 0;
  }

  @media all and (min-width: 1200px) {
    padding-top: 0;
  }
}
.love {
  font-family: $font-family-roboto;
  font-size: 14px;
  line-height: 30px;
  color: white;
}

.icon {
  color: $color-icon;
  font-size: 14px;
  line-height: 30px;
}


.arrow {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto;
  transform: translate(0, -185%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px;

  animation-name: intro;
  animation-duration: 2s; 
  animation-iteration-count: 1;
  animation-timing-function: ease;

  @media all and (min-width:768px) {
    position: absolute;
    top: 60px;
  }
}

.imagen-row {
  width: 20.6px;
  height: 24px;
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: scale(3) rotate(-150deg);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}