.footer {
    background-color: $background-color-footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 45px;

    @media all and (min-width: 768px) {
        flex-direction: row-reverse;
        justify-content: center;
    }
}

.info {}

.info_list {
    list-style: none;
    margin: 0;
    text-align: center;
    
    @media all and (min-width: 768px) {
        text-align: left;
        padding: 0;
    }

    @media all and (min-width: 1200px) {
        width: left;
        padding: 0;
    }
}

.info_list-item {

}

.link-item {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-family-roboto;
    font-size: 16px;
    line-height: 30px;
}

.block {
    width: auto;
    border: 1px solid red;

    @media all and (min-width: 768px) {
        width: 210px;
        text-align: left;
    }

    @media all and (min-width: 1200px) {
        width: 160px;
    }
}

.sm {
    padding: 0 30px;
}

.sm_list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    @media all and (min-width: 768px) {
        text-align: left;
        vertical-align: text-top;
    }

    @media all and (min-width: 1200px) {
        text-align: left;
        vertical-align: text-top;
    }
}
.link-sm {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-family-roboto;
    font-size: 16px;
    line-height: 30px;
}

.copy {
    font-family: $font-family-roboto;
    font-size: 14px;
    line-height: 30px;
    padding-top: 30px;
    color: white;
}

.end {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width: 768px) {
        align-items: flex-start;
        justify-content: flex-start;
    }

    @media all and (min-width: 1200px) {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.love {
    font-family: $font-family-roboto;
    font-size: 14px;
    line-height: 30px;
    color: white;
    padding-bottom: 45px;
}

.icon {
    color: $color-icon;
    font-size: 14px;
    line-height: 30px;
}