.header {}
.nav {
}
.menu {
    width: 44px;
    height: 44px;
    position: fixed;
    background-color: $background-color-menu;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_item {}

.lines {
    width: 16px;
    height: 14px;
}