$background-color-menu: #0271bc;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-roboto-medium: 'Roboto-medium', sans-serif;
$font-family-slab: 'Roboto Slab', serif;

// SECTION2
$color-azul: #8ccbea;
$color-azul-oscuro: #0271bc;
$color-h2: #000000;
$color-text-section2: #4a4a4a;
$color-orange: #f26002;
$color-section3: #eff9ff;
$background-color-footer: #304268;
$color-icon: #f26002;